@font-face {
  font-family: savoye;
  src: url("../fonts/SavoyeLetPlain.ttf"); }
@font-face {
  font-family: herculanum;
  src: url("../fonts/Herculanum.ttf"); }
@font-face {
  font-family: times;
  src: url("../fonts/Times.ttf"); }
body {
  font-family: savoye;
  font-size: 24px; }

.container {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%; }

.section {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .section {
      margin-bottom: 30px;
      max-width: 95%; } }
  @media screen and (min-width: 769px) {
    .section {
      margin-bottom: 30px;
      max-width: 80%; } }

.section.section-full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0; }

.section-divided {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .section-divided div {
    flex-grow: 1;
    align-self: center;
    max-width: 100%; }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .section-divided div {
        padding: 10px;
        max-width: 50%; } }
    @media screen and (min-width: 769px) {
      .section-divided div {
        padding: 10px;
        max-width: 50%; } }

.green-text {
  color: #40826D; }

@media screen and (min-width: 480px) and (max-width: 768px) {
  .title {
    margin-bottom: 40px; } }
@media screen and (min-width: 769px) {
  .title {
    margin-bottom: 50px; } }
.title .name {
  display: inline-block;
  height: 52px;
  font-size: 46px;
  padding-bottom: -10px;
  border-bottom: solid #40826D;
  border-width: 1px; }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .title .name {
      font-size: 63px;
      height: 63px; } }
  @media screen and (min-width: 769px) {
    .title .name {
      font-size: 74px;
      height: 80px; } }
  .title .name img {
    width: 18px; }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .title .name img {
        width: 25px; } }
    @media screen and (min-width: 769px) {
      .title .name img {
        width: 32px; } }
.title .name.left {
  text-align: right;
  padding: 0; }
  .title .name.left img {
    margin-right: 10px; }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .title .name.left img {
        margin-right: 15px; } }
    @media screen and (min-width: 769px) {
      .title .name.left img {
        margin-right: 20px; } }
.title .and {
  display: inline-block;
  position: relative;
  top: 22px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: times;
  font-size: 42px;
  text-align: center; }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .title .and {
      top: 36px;
      font-size: 66px;
      margin-left: 15px;
      margin-right: 15px; } }
  @media screen and (min-width: 769px) {
    .title .and {
      top: 50px;
      font-size: 90px;
      margin-left: 20px;
      margin-right: 20px; } }
.title .name.right {
  text-align: left;
  padding: 0; }
  .title .name.right img {
    margin-left: 10px; }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .title .name.right img {
        margin-left: 15px; } }
    @media screen and (min-width: 769px) {
      .title .name.right img {
        margin-left: 20px; } }
.title .date {
  position: relative;
  top: 22px;
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.2em; }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .title .date {
      top: 36px;
      font-size: 1.2em; } }
  @media screen and (min-width: 769px) {
    .title .date {
      top: 50px;
      font-size: 1.3em; } }

.photo-cover {
  height: 350px;
  width: 100%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/Presenza1440.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  @media screen and (min-width: 769px) {
    .photo-cover {
      height: 650px; } }

.phrase {
  font-family: herculanum;
  padding: 0; }
  @media screen and (max-width: 479px) {
    .phrase {
      max-width: 90%; } }
  .phrase .phrase-text {
    height: 100%;
    vertical-align: middle;
    margin-bottom: 30px;
    font-size: 0.9em;
    text-align: center;
    text-indent: 10px;
    background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/open_quote.png");
    background-position: top left;
    background-repeat: no-repeat; }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .phrase .phrase-text {
        margin-bottom: 30px;
        font-size: 1em; } }
    @media screen and (min-width: 769px) {
      .phrase .phrase-text {
        margin-bottom: 0;
        font-size: 1.1em; } }
    .phrase .phrase-text p#phrase {
      padding-top: 30px;
      margin-bottom: 0;
      text-align: center; }
    .phrase .phrase-text p#cite {
      background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/close_quote.png");
      background-position: bottom right;
      background-repeat: no-repeat;
      padding-bottom: 30px;
      width: 100%;
      font-size: 0.65em;
      text-align: right; }
  .phrase .phrase-image {
    padding-left: 0; }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      .phrase .phrase-image {
        padding-left: 40px; } }
    @media screen and (min-width: 769px) {
      .phrase .phrase-image {
        padding-left: 40px; } }
    .phrase .phrase-image img {
      width: 100%; }

.ceremony .title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: center;
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em; }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    .ceremony .title {
      font-size: 2em;
      margin-left: 1em;
      margin-right: 1em; } }
  @media screen and (min-width: 769px) {
    .ceremony .title {
      font-size: 2.5em; } }
  .ceremony .title p {
    margin-left: 25px;
    margin-right: 25px; }
.ceremony .ceremony-content .ceremony-text {
  height: 100%;
  text-align: center;
  font-size: 1.2em; }
  .ceremony .ceremony-content .ceremony-text img {
    width: 35%;
    margin-bottom: 10px; }
.ceremony .ceremony-content .ceremony-map {
  background: red; }
  @media screen and (max-width: 479px) {
    .ceremony .ceremony-content .ceremony-map {
      display: none;
      padding-left: 40px; } }

.line {
  background: #40826D no-repeat scroll center;
  width: 100%;
  height: 2px;
  position: relative;
  bottom: 0.2em; }

/* Animations */
@keyframes fly-in {
  from {
    transform: translateY(15rem);
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
