.card {
  box-shadow:0 1px 2px #aaa;
  background:white;
  border-radius:3px;
  //animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
  margin-bottom: 20px;
  img {
    width: 100%;
  }
  .content {
    padding:1.5rem;
  }
}

/* Media queries */

@media screen and (min-width: 50em) {
 .card {
  width: 50em;
 }
}

/* Animations */

@keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}
