@import "mixins";
@import "colors";

@font-face {
  font-family: snell;
  src: url("../fonts/SnellRoundhand.ttf");
}

@font-face {
  font-family: savoye;
  src: url("../fonts/SavoyeLetPlain.ttf");
}
$medium-bp: 768px;

body {
  font-family: savoye;

  // background-color: $bg-color;
  font-size: 24px;
}

.container {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.section {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: $medium-bp;
  @media screen and (min-width: $medium-bp) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 480px) and (max-width: $medium-bp) {
    margin-bottom: 50px;
    max-width: 480px;
  }
}

.section.section-full {
    max-width: 100%;
  }

.title {

  .name {
    display: inline-block;
    height: 52px;
    font-size: 46px;
    padding-bottom: -10px;

    @media screen and (min-width: $medium-bp) {
      font-size: 74px;
      height: 80px;
    }
    border-bottom: solid $base-color;
    border-width: 1px;

    img {
      width: 18px;

      @media screen and (min-width: $medium-bp) {
        width: 32px;
      }
    }
  }

  .name.left {
    text-align: right;
    padding: 0;

    img {
      margin-right: 10px;

      @media screen and (min-width: $medium-bp) {
        margin-right: 20px;
      }
    }
  }

  .and {
    display: inline-block;
    position: relative;

    font-family: "Times New Roman", Times, serif;
    text-align: center;

    top: 50px;
    font-size: 90px;
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (max-width: $medium-bp) {
      top: 22px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 42px;
    }
  }

  .name.right {
    text-align: left;
    padding: 0;

    img {
      margin-left: 10px;

      @media screen and (min-width: $medium-bp) {
        margin-left: 20px;
      }
    }
  }
}

.photo-cover {
  height: 350px;

  @media screen and (min-width: $medium-bp) {
    height: 650px;
  }
  width: 100%;
  background-image: url("../img/Presenza1440.jpg");
}

.phrase {
  .phrase-text {
    height: 100%;
    margin: auto;
  }
  .phrase-image {
    height: auto;
    img {
      width: 100%;
    }
  }
}

/* Animations */
@keyframes fly-in {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}
