@import "mixins";
@import "colors";

body {
  background-color: $bg-color;
}

.title {
  margin-bottom: 2em;
}

.card {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 0.2em #aaa;
  background: white;
  @include transition(.2s);
  animation: fly-in 0.5s 1s ease both;
  transform-origin: top left;

  &:hover {
    box-shadow: 0 0 1.5em #aaa;
  }

  .card-content {
    position: relative;

    .card-cover {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    .card-detail {
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      @include transition(.5s);
      background-color: white;
      top: 0;
      left: 0;
      padding: 30px;

      .close-button {
        margin: 1em;
        padding: 7px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5em;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 100%;

        &:hover {
          background-color: black;
          color: white;
        }
      }

      p {
        width: 70%;
        margin: auto;
      }

      .map {
        width: 90%;
        height: 70%;
        margin: auto;
        margin-top: 2em;
      }

      .map-button {

      }
    }

    .show {
      opacity: 1;
      visibility: visible;
    }
  }

  .card-title {
    padding: 1.5rem;
    font-size: 2em;
    text-align: center;
  }
}

/* Media queries */
@media screen and (min-width: 800px) {
  .card {
    max-width: 800px;
  }
}

@media screen and (min-width: 600px) {
  .map-button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .map {
    display: none;
  }
}
/* Animations */
@keyframes fly-in {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}
