@import "mixins";
@import "colors";

@font-face {
  font-family: snell;
  src: url("../fonts/SnellRoundhand.ttf");
}

@font-face {
  font-family: savoye;
  src: url("../fonts/SavoyeLetPlain.ttf");
}

$small-bp: 768px;

body {
  font-family: savoye;

  // background-color: $bg-color;
  font-size: 24px;
}

.container {
  text-align: center;
}

.title {
  .name {
    display: inline-block;
    height: 52px;
    font-size: 46px;
    padding-bottom: -10px;
    @media screen and (min-width: $small-bp) {
      font-size: 74px;
      height: 80px;
    }
    border-bottom: solid $base-color;
    border-width: 1px;

    img {
      width: 18px;
      @media screen and (min-width: $small-bp) {
        width: 32px;
      }
    }
  }

  .name.left {
    text-align: right;
    padding: 0;
    img {
      margin-right: 20px;
    }
  }

  .and {
    display: inline-block;
    position: relative;
    top: 22px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 42px;
    text-align: center;

    @media screen and (min-width: $small-bp) {
      top: 50px;
      font-size: 90px;
    }
  }

  .name.right {
    text-align: left;
    padding: 0;
    img {
      margin-left: 20px;
    }
  }
}

/* Media queries */
@media screen and (min-width: 768px) {

}

@media screen and (max-width: 320px) {

}
/* Animations */
@keyframes fly-in {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}
