@import "mixins";
@import "colors";

body {
  background-color: $bg-color;
}

.title {
  margin-bottom: 2em;
}

.card {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 0.2em #aaa;
  background: white;
  @include transition(.2s);
  animation: fly-in 0.5s 1s ease both;
  transform-origin: top left;

  &:hover {
    box-shadow: 0 0 1.5em #aaa;
  }

  .card-content {
    position: relative;

    .card-cover {
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
    }

    .card-detail {
      width: 100%;
      height: 100%;
      position: absolute;
      @include transition(.5s);
      opacity: 0;
      background-color: white;
      top: 0;
      left: 0;
      padding: 30px;

      p {
        width: 70%;
        margin: auto;
      }

      .map {
        width: 90%;
        height: 70%;
        margin: auto;
        padding-top: 10em;
      }
    }

    .show-detail {
      opacity: 1;
    }
  }

  .card-title {
    padding: 1.5rem;
    font-size: 2em;
    text-align: center;
  }
}

button {
  display: inline-block;
  margin: 0 1px 0 0;
  padding: 15px 45px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none
}

/* Media queries */
@media screen and (min-width: 800px) {
  .card {
    max-width: 800px;
  }
}

/* Animations */
@keyframes fly-in {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}
