@mixin transition($time) {
  -webkit-transition: all $time linear;
  -o-transition: all $time linear;
  -moz-transition: all $time linear;
  -ms-transition: all $time linear;
  transition: all $time linear;
}

@mixin greyscale($perc) {
  -webkit-filter: grayscale($perc);
  -moz-filter: grayscale($perc);
  -o-filter: grayscale($perc);
  -ms-filter: grayscale($perc);
  filter:grayscale($perc);
}

@mixin sepia($perc) {
  -webkit-filter: sepia($perc);
  -moz-filter: sepia($perc);
  -o-filter: sepia($perc);
  -ms-filter: sepia($perc);
  filter:sepia($perc);
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  -ms-background-size: $size;
  background-size: $size;
}
