@import "compass/reset";
@import "compass/css3/flexbox";
@import "mixins";
@import "colors";

@font-face {
  font-family: savoye;
  src: url("../fonts/SavoyeLetPlain.ttf");
}

@font-face {
  font-family: herculanum;
  src: url("../fonts/Herculanum.ttf");
}

@font-face {
  font-family: timesn;
  src: url("../fonts/Times.ttf");
}

@font-face {
  font-family: american;
  src: url("../fonts/AmericanTypewriter.ttf");
}
$medium-bp: 80%;
$desktop: "screen and (min-width: 769px)";
$tablet: "screen and (min-width: 480px) and (max-width: 768px)";
$phone: "screen and (max-width: 479px)";
$section-spacing: 30px;

body {
  font-family: savoye;
  font-size: 24px;
}

.container {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.section {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet} {
    margin-bottom: 30px;
    max-width: 95%;
  }

  @media #{$desktop} {
    margin-bottom: 80px;
    max-width: $medium-bp;
  }
}

.section.section-full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.section-divided {
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  @media #{$tablet} {
    padding: 10px;
    display: table;
  }

  @media #{$desktop} {
    padding: 10px;
    display: table;
  }

  >div {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;

    @media #{$tablet} {
      display: table-cell;
      padding: 10px;
      width: 50%;
    }

    @media #{$desktop} {
      display: table-cell;
      padding: 10px;
      width: 50%;
    }
  }
}

.green-text {
  color: $base-color;
}

.title {
  margin-top: 10px;

  @media #{$tablet} {
    margin-top: 5px;
    margin-bottom: 40px;
  }

  @media #{$desktop} {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .name {
    display: inline-block;
    height: 45px;
    font-size: 45px;

    @media #{$tablet} {
      font-size: 63px;
      height: 63px;
    }

    @media #{$desktop} {
      font-size: 74px;
      height: 74px;
    }
    border-bottom: solid $base-color;
    border-width: 1px;

    img {
      width: 18px;

      @media #{$tablet} {
        width: 25px;
      }

      @media #{$desktop} {
        width: 32px;
      }
    }
  }

  .name.left {
    text-align: right;
    padding: 0;

    img {
      margin-right: 10px;

      @media #{$tablet} {
        margin-right: 15px;
      }

      @media #{$desktop} {
        margin-right: 20px;
      }
    }
  }

  .and {
    display: inline-block;
    position: relative;
    top: 22px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: timesn;
    font-size: 45px;
    text-align: center;

    @media #{$tablet} {
      top: 36px;
      font-size: 66px;
      margin-left: 15px;
      margin-right: 15px;
    }

    @media #{$desktop} {
      top: 50px;
      font-size: 90px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .name.right {
    text-align: left;
    padding: 0;

    img {
      margin-left: 10px;

      @media #{$tablet} {
        margin-left: 15px;
      }

      @media #{$desktop} {
        margin-left: 20px;
      }
    }
  }

  .date {
    position: relative;
    top: 22px;
    font-size: 1.2em;
    margin-bottom: 30px;

    @media #{$tablet} {
      top: 36px;
      font-size: 1.4em;
      margin-bottom: 50px;
    }

    @media #{$desktop} {
      top: 50px;
      font-size: 1.6em;
      margin-bottom: 70px;
    }
    text-align: center;
    font-size: 1.2em;
  }
}

.photo-cover {
  height: 350px;

  @media #{$tablet} {
    background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/gm_m.jpg");
  }

  @media #{$desktop} {
    background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/gm_h.jpg");
    height: 650px;
  }
  width: 100%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/gm_s.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  @include background-size(cover);
}

.phrase {
  font-family: herculanum;
  padding: 0;

  @media #{$phone} {
    max-width: 90%;
  }

  .phrase-text {
    margin-bottom: $section-spacing;
    line-height: 1.2em;
    font-size: 0.9em;

    @media #{$tablet} {
      margin-bottom: $section-spacing;
      line-height: 1.7em;
      font-size: 1em;
    }

    @media #{$desktop} {
      margin-bottom: 0;
      line-height: 2em;
      font-size: 1.1em;
    }
    text-align: center;
    text-indent: 10px;

    p#phrase {
      background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/open_quote.png");
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 8%;
      padding-top: 30px;
      margin-bottom: 0;
      text-align: center;
    }

    p#cite {
      background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/close_quote.png");
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 8%;
      padding-bottom: 30px;
      width: 100%;
      font-size: 0.65em;
      text-align: right;
    }
  }

  .phrase-image {
    vertical-align: middle;
    width: 95%;
    margin: 0 auto;
    display: block;
    height: auto;

    @media #{$tablet} {
      padding-left: 40px;
    }

    @media #{$desktop} {
      padding-left: 40px;
    }

    img {
      width: 100%;
    }
  }
}

.section-title {
  font-size: 1.8em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 30px;

  @media #{$tablet} {
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }

  @media #{$desktop} {
    font-size: 2.5em;
  }

  h2 {
    text-align: center;
  }

  h2.lines {
    position: relative;
    z-index: 1;

    &:before {
      border-top: 2px solid $base-color;
      content: "";
      margin: 0 auto;
      /* this centers the line to the full width specified */
      position: absolute;
      /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1;
    }

    span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      background: #fff;
      padding: 0 20px;

      @media #{$tablet} {
        padding: 0 30px;
      }

      @media #{$desktop} {
        padding: 0 40px;
      }
    }
  }

  h2.double:before {
    /* this is just to undo the :before styling from above */
    border-top: none;
  }

  h2.double:after {
    border-bottom: 2px solid $base-color;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 95%;
    z-index: -1;
  }
}

.ceremony {
  max-width: 100%;

  .section-title {
    max-width: 80%;
    margin: auto auto 30px;
  }

  .church-cover {
    max-width: 100%;
    width: 100%;
    height: 320px;
    margin-bottom: 15px;

    @media #{$tablet} {
      background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/ceremony_m.jpg");
    }

    @media #{$desktop} {
      height: 500px;
      background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/ceremony_h.jpg");
    }
    background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/ceremony_s.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    @include background-size(cover);
  }

  .ceremony-content {
    max-width: 80%;
    margin: auto;

    .ceremony-text {
      text-align: center;
      font-size: 1.2em;

      @media #{$tablet} {
        font-size: 1.4em;
      }

      @media #{$desktop} {
        font-size: 1.6em;
      }

      img {
        width: 35%;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      #ceremony-date {
        margin-bottom: 30px;
      }
    }

    .ceremony-map {
      height: auto;
      width: 100%;
      height: 400px;

      @media #{$phone} {
        height: auto;
      }

      .map {
        max-width: 100%;
        display: block;
        height: 100%;

        @media #{$phone} {
          display: none;
          padding-left: 40px;
        }
      }

      .map-button {
        display: none;
        width: 15%;
        margin: auto;

        @media #{$phone} {
          display: block;
        }

        img {
          margin-top: 1em;
          width: 100%;
        }
      }
    }
  }
}

.gift {
  height: 500px;
  position: relative;

  @media #{$tablet} {
    height: 550px;
  }

  @media #{$desktop} {
    height: 650px;
  }
  width: 100%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/Regalo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  @include background-size(cover);

  .green-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $base-color-4;
    opacity: 0.6;
  }

  .gift-content {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    padding: 20px;

    @media #{$tablet} {
      padding: 20px;
    }

    @media #{$desktop} {
      padding: 30px;
    }

    .gift-title {
      color: white;
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 0;
      margin-top: 10px;
      @media #{$tablet} {
        font-size: 1.8em;
      }

      @media #{$desktop} {
        font-size: 2em;
      }
    }

    .gift-text {
      overflow: hidden;
      margin: auto;
      vertical-align: middle;
      line-height: 1.2em;
      color: white;
      text-align: center;
      font-size: 1.1em;

      @media #{$tablet} {
        font-size: 1.3em;
        line-height: 1.3em;
        padding: 20px;
      }

      @media #{$desktop} {
        max-width: 70%;
        line-height: 1.5em;
        font-size: 1.5em;
        padding: 30px;
      }
    }

    #gift-button {
      -webkit-border-radius: 3;
      -moz-border-radius: 3;
      border-radius: 3px;
      color: #fff;
      font-size: 1.8em;
      background: #ce272e;
      padding: 20px 15px 6px;

      @media #{$tablet} {
        padding: 16px 20px 8px;
      }

      @media #{$desktop} {
        padding: 20px 25px 10px;
      }
      text-decoration: none;
      width: 150px;
      margin: auto;
    }

    #gift-button:hover {
      cursor: pointer;
      background: #a82840;
      text-decoration: none;
    }

    #trip-link{
      color: #ffffff;
      font-size: 1.5em;
      line-height: 2em;
      &:hover {
        text-decoration: none;
        cursor: pointer;
        color: #a82840;
      }
    }

    #gift-modal, #trip-modal {
      color: black;
      font-family: savoye;

      .modal-header {
        border-bottom: 0;
      }

      #trip-title {
        font-size: 1.7em;
      }

      .modal-text {
        font-size: 1.2em;

        @media #{$desktop} {
          font-size: 1.6em;
          padding: 40px;
        }

        p {
          margin: 10px;

          @media #{$desktop} {
            margin: 30px;
          }

          span {
            margin-left: 10px;
          }
        }

        #iban {
          font-size: 1rem;
          font-family: american;
          margin: 10px;

          @media #{$desktop} {
            font-size: 1.4rem;
          }
        }
      }

      .close {
        font-size: 50px;
      }
    }
  }
}

.party {
  .party-content {
    .party-text {
      text-align: center;
      font-size: 1.2em;

      p {
        margin-left: 10px;
        margin-right: 10px;
      }

      @media #{$tablet} {
        font-size: 1.4em;
      }

      @media #{$desktop} {
        font-size: 1.6em;
      }

      img {
        width: 35%;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      #party-invite {
        margin-bottom: 30px;
      }
    }

    .party-map {
      height: auto;
      width: 100%;
      height: 400px;

      @media #{$phone} {
        height: auto;
      }

      .map-party {
        max-width: 100%;
        display: block;
        height: 100%;

        @media #{$phone} {
          display: none;
          padding-left: 40px;
        }
      }

      .map-button {
        display: none;
        width: 15%;
        margin: auto;

        @media #{$phone} {
          display: block;
        }

        img {
          margin-top: 1em;
          width: 100%;
        }
      }
    }
  }
}

.mail {
  .mail-text {
    font-size: 1.2em;
    line-height: 1.5em;

    @media #{$tablet} {
      font-size: 1.5em;
    }

    @media #{$desktop} {
      font-size: 1.6em;
    }

    .address {
      font-family: american;
      color: $base-color-2;
      font-size: 0.7em;
      margin-bottom: 50px;
      text-decoration: underline;

      @media #{$tablet} {
        font-size: 0.8em;
        margin-bottom: 100px;
      }

      @media #{$desktop} {
        font-size: 0.9em;
        margin-bottom: 150px;
      }
    }

    a:link {
      color: inherit;
    }
  }
}

footer {
  background-color: #ebebeb;
  height: 60%;
  padding: 1.4em;
  font-size: 0.5em;
  font-weight: bold;
  color: #797979;
  font-family: "Courier New", Courier, monospace;

  .footer-text {
    text-align: left;
  }
}

/* Animations */
@keyframes fly-in {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}
