@import "compass/reset";
@import "compass/css3/flexbox";
@import "mixins";
@import "colors";

@font-face {
  font-family: savoye;
  src: url("../fonts/SavoyeLetPlain.ttf");
}

@font-face {
  font-family: herculanum;
  src: url("../fonts/Herculanum.ttf");
}

@font-face {
  font-family: times;
  src: url("../fonts/Times.ttf");
}
$medium-bp: 80%;
$desktop: "screen and (min-width: 769px)";
$tablet: "screen and (min-width: 480px) and (max-width: 768px)";
$phone: "screen and (max-width: 479px)";
$section-spacing: 30px;

body {
  font-family: savoye;

  // background-color: $bg-color;
  font-size: 24px;
}

.container {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.section {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet} {
    margin-bottom: $section-spacing;
    max-width: 95%;
  }

  @media #{$desktop} {
    margin-bottom: $section-spacing;
    max-width: $medium-bp;
  }
}

.section.section-full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.section-divided {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(stretch);

  >div {
    flex-grow: 1;
    align-self: center;
    max-width: 100%;

    @media #{$tablet} {
      padding: 10px;
      max-width: 50%;
    }

    @media #{$desktop} {
      padding: 10px;
      max-width: 50%;
    }
  }
}

.green-text {
  color: $base-color;
}

.title {
  @media #{$tablet} {
    margin-bottom: 40px;
  }

  @media #{$desktop} {
    margin-bottom: 50px;
  }

  .name {
    display: inline-block;
    height: 52px;
    font-size: 46px;
    padding-bottom: -10px;

    @media #{$tablet} {
      font-size: 63px;
      height: 63px;
    }

    @media #{$desktop} {
      font-size: 74px;
      height: 80px;
    }
    border-bottom: solid $base-color;
    border-width: 1px;

    img {
      width: 18px;

      @media #{$tablet} {
        width: 25px;
      }

      @media #{$desktop} {
        width: 32px;
      }
    }
  }

  .name.left {
    text-align: right;
    padding: 0;

    img {
      margin-right: 10px;

      @media #{$tablet} {
        margin-right: 15px;
      }

      @media #{$desktop} {
        margin-right: 20px;
      }
    }
  }

  .and {
    display: inline-block;
    position: relative;
    top: 22px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: times;
    font-size: 42px;
    text-align: center;

    @media #{$tablet} {
      top: 36px;
      font-size: 66px;
      margin-left: 15px;
      margin-right: 15px;
    }

    @media #{$desktop} {
      top: 50px;
      font-size: 90px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .name.right {
    text-align: left;
    padding: 0;

    img {
      margin-left: 10px;

      @media #{$tablet} {
        margin-left: 15px;
      }

      @media #{$desktop} {
        margin-left: 20px;
      }
    }
  }

  .date {
    position: relative;
    top: 22px;
    font-size: 1em;

    @media #{$tablet} {
      top: 36px;
      font-size: 1.2em;
    }

    @media #{$desktop} {
      top: 50px;
      font-size: 1.3em;
    }
    text-align: center;
    font-size: 1.2em;
  }
}

.photo-cover {
  height: 350px;

  @media #{$desktop} {
    height: 650px;
  }
  width: 100%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/Presenza1440.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  @include background-size(cover);
}

.phrase {
  font-family: herculanum;
  padding: 0;

  @media #{$phone} {
    max-width: 90%;
  }

  .phrase-text {
    height: 100%;
    vertical-align: middle;
    margin-bottom: $section-spacing;
    font-size: 0.9em;

    @media #{$tablet} {
      margin-bottom: $section-spacing;
      font-size: 1em;
    }

    @media #{$desktop} {
      margin-bottom: 0;
      font-size: 1.1em;
    }
    text-align: center;
    text-indent: 10px;
    background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/open_quote.png");
    background-position: top left;
    background-repeat: no-repeat;

    p#phrase {
      padding-top: 30px;
      margin-bottom: 0;
      text-align: center;
    }

    p#cite {
      background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/close_quote.png");
      background-position: bottom right;
      background-repeat: no-repeat;
      padding-bottom: 30px;
      width: 100%;
      font-size: 0.65em;
      text-align: right;
    }
  }

  .phrase-image {
    padding-left: 0;

    @media #{$tablet} {
      padding-left: 40px;
    }

    @media #{$desktop} {
      padding-left: 40px;
    }

    img {
      width: 100%;
    }
  }
}

.ceremony {
  .title {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(baseline);
    @include justify-content(center);
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    @media #{$tablet} {
      font-size: 2em;
      margin-left: 1em;
      margin-right: 1em;
    }

    @media #{$desktop} {
      font-size: 2.5em;
    }

    p {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  .ceremony-content {
    .ceremony-text {
      text-align: center;
      font-size: 1.2em;

      img {
        width: 35%;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      #ceremony-date {
        margin-bottom: 30px;
      }
    }

    .ceremony-map {
      height: auto;
      width: 100%;
      height: 400px;

      @media #{$phone} {
        height: auto;
      }

      .map {
        max-width: 100%;
        display: block;
        height: 100%;

        @media #{$phone} {
          display: none;
          padding-left: 40px;
        }
      }

      .map-button {
        display: none;
        width: 15%;
        margin: auto;

        @media #{$phone} {
          display: block;
        }

        img {
          margin-top: 1em;
          width: 100%;
        }
      }
    }
  }
}

.line {
  background: $base-color no-repeat scroll center;
  width: 100%;
  height: 2px;
  position: relative;
  bottom: 0.2em;
}

.gift {
  height: 350px;
  position: relative;

  @media #{$desktop} {
    height: 650px;
  }
  width: 100%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/Regalo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  @include background-size(cover);

  .green-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $base-color-4;
    opacity: 0.6;
  }

  .gift-content {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    padding: 20px;

    @media #{$tablet} {
      padding: 20px;
    }

    @media #{$desktop} {
      padding: 30px;
    }

    .gift-title {
      color: white;
      text-align: center;
      font-size: 2em;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .gift-text {
      margin: auto;
      vertical-align: middle;
      line-height: 1.2em;
      color: white;
      text-align: center;
      font-size: 1.2em;

      @media #{$tablet} {
        font-size: 1.3em;
        line-height: 1.3em;
        padding: 20px;
      }

      @media #{$desktop} {
        max-width: 70%;
        line-height: 1.8em;
        font-size: 1.5em;
        padding: 30px;
      }
    }

    .gift-button {
      -webkit-border-radius: 3;
      -moz-border-radius: 3;
      border-radius: 3px;
      color: #fff;
      font-size: 1.8em;
      background: #e43454;
      padding: 12px 15px 6px 15px;

      @media #{$tablet} {
        padding: 16px 20px 8px 20px;
      }

      @media #{$desktop} {
        padding: 20px 25px 10px 25px;
      }
      text-decoration: none;
      width: 150px;
      margin: auto;
    }

    .gift-button:hover {
      cursor: pointer;
      background: #a82840;
      text-decoration: none;
    }
  }
}

/* Animations */
@keyframes fly-in {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}
