/* line 5, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: savoye;
  src: url("../fonts/SavoyeLetPlain.ttf");
}
@font-face {
  font-family: herculanum;
  src: url("../fonts/Herculanum.ttf");
}
@font-face {
  font-family: times;
  src: url("../fonts/Times.ttf");
}
/* line 26, ../sass/main.scss */
body {
  font-family: savoye;
  font-size: 24px;
}

/* line 33, ../sass/main.scss */
.container {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/* line 42, ../sass/main.scss */
.section {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 42, ../sass/main.scss */
  .section {
    margin-bottom: 30px;
    max-width: 95%;
  }
}
@media screen and (min-width: 769px) {
  /* line 42, ../sass/main.scss */
  .section {
    margin-bottom: 30px;
    max-width: 80%;
  }
}

/* line 58, ../sass/main.scss */
.section.section-full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* line 64, ../sass/main.scss */
.section-divided {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
}
/* line 71, ../sass/main.scss */
.section-divided > div {
  flex-grow: 1;
  align-self: center;
  max-width: 100%;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 71, ../sass/main.scss */
  .section-divided > div {
    padding: 10px;
    max-width: 50%;
  }
}
@media screen and (min-width: 769px) {
  /* line 71, ../sass/main.scss */
  .section-divided > div {
    padding: 10px;
    max-width: 50%;
  }
}

/* line 88, ../sass/main.scss */
.green-text {
  color: #40826D;
}

/* line 92, ../sass/main.scss */
.title {
  margin-top: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 92, ../sass/main.scss */
  .title {
    margin-top: 5px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 769px) {
  /* line 92, ../sass/main.scss */
  .title {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
/* line 104, ../sass/main.scss */
.title .name {
  display: inline-block;
  height: 52px;
  font-size: 46px;
  border-bottom: solid #40826D;
  border-width: 1px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 104, ../sass/main.scss */
  .title .name {
    font-size: 63px;
    height: 63px;
  }
}
@media screen and (min-width: 769px) {
  /* line 104, ../sass/main.scss */
  .title .name {
    font-size: 74px;
    height: 80px;
  }
}
/* line 121, ../sass/main.scss */
.title .name img {
  width: 18px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 121, ../sass/main.scss */
  .title .name img {
    width: 25px;
  }
}
@media screen and (min-width: 769px) {
  /* line 121, ../sass/main.scss */
  .title .name img {
    width: 32px;
  }
}
/* line 134, ../sass/main.scss */
.title .name.left {
  text-align: right;
  padding: 0;
}
/* line 138, ../sass/main.scss */
.title .name.left img {
  margin-right: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 138, ../sass/main.scss */
  .title .name.left img {
    margin-right: 15px;
  }
}
@media screen and (min-width: 769px) {
  /* line 138, ../sass/main.scss */
  .title .name.left img {
    margin-right: 20px;
  }
}
/* line 151, ../sass/main.scss */
.title .and {
  display: inline-block;
  position: relative;
  top: 22px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: times;
  font-size: 42px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 151, ../sass/main.scss */
  .title .and {
    top: 36px;
    font-size: 66px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 769px) {
  /* line 151, ../sass/main.scss */
  .title .and {
    top: 50px;
    font-size: 90px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* line 176, ../sass/main.scss */
.title .name.right {
  text-align: left;
  padding: 0;
}
/* line 180, ../sass/main.scss */
.title .name.right img {
  margin-left: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 180, ../sass/main.scss */
  .title .name.right img {
    margin-left: 15px;
  }
}
@media screen and (min-width: 769px) {
  /* line 180, ../sass/main.scss */
  .title .name.right img {
    margin-left: 20px;
  }
}
/* line 193, ../sass/main.scss */
.title .date {
  position: relative;
  top: 22px;
  font-size: 1.2em;
  text-align: center;
  font-size: 1.2em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 193, ../sass/main.scss */
  .title .date {
    top: 36px;
    font-size: 1.4em;
  }
}
@media screen and (min-width: 769px) {
  /* line 193, ../sass/main.scss */
  .title .date {
    top: 50px;
    font-size: 1.6em;
  }
}

/* line 212, ../sass/main.scss */
.photo-cover {
  height: 350px;
  width: 100%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/Presenza1440.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 769px) {
  /* line 212, ../sass/main.scss */
  .photo-cover {
    height: 650px;
  }
}

/* line 225, ../sass/main.scss */
.phrase {
  font-family: herculanum;
  padding: 0;
}
@media screen and (max-width: 479px) {
  /* line 225, ../sass/main.scss */
  .phrase {
    max-width: 90%;
  }
}
/* line 233, ../sass/main.scss */
.phrase .phrase-text {
  height: 100%;
  vertical-align: middle;
  margin-bottom: 30px;
  line-height: 1.2em;
  font-size: 0.9em;
  text-align: center;
  text-indent: 10px;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/open_quote.png");
  background-position: top left;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 233, ../sass/main.scss */
  .phrase .phrase-text {
    margin-bottom: 30px;
    line-height: 1.7em;
    font-size: 1em;
  }
}
@media screen and (min-width: 769px) {
  /* line 233, ../sass/main.scss */
  .phrase .phrase-text {
    margin-bottom: 0;
    line-height: 2em;
    font-size: 1.1em;
  }
}
/* line 257, ../sass/main.scss */
.phrase .phrase-text p#phrase {
  padding-top: 30px;
  margin-bottom: 0;
  text-align: center;
}
/* line 263, ../sass/main.scss */
.phrase .phrase-text p#cite {
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/close_quote.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  width: 100%;
  font-size: 0.65em;
  text-align: right;
}
/* line 274, ../sass/main.scss */
.phrase .phrase-image {
  padding-left: 0;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 274, ../sass/main.scss */
  .phrase .phrase-image {
    padding-left: 40px;
  }
}
@media screen and (min-width: 769px) {
  /* line 274, ../sass/main.scss */
  .phrase .phrase-image {
    padding-left: 40px;
  }
}
/* line 285, ../sass/main.scss */
.phrase .phrase-image img {
  width: 100%;
}

/* line 292, ../sass/main.scss */
.ceremony .title {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: baseline;
  align-items: baseline;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 292, ../sass/main.scss */
  .ceremony .title {
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media screen and (min-width: 769px) {
  /* line 292, ../sass/main.scss */
  .ceremony .title {
    font-size: 2.5em;
  }
}
/* line 312, ../sass/main.scss */
.ceremony .title p {
  margin-left: 25px;
  margin-right: 25px;
}
/* line 319, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-text {
  text-align: center;
  font-size: 1.2em;
}
/* line 323, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-text img {
  width: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 329, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-text #ceremony-date {
  margin-bottom: 30px;
}
/* line 334, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-map {
  height: auto;
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 479px) {
  /* line 334, ../sass/main.scss */
  .ceremony .ceremony-content .ceremony-map {
    height: auto;
  }
}
/* line 343, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-map .map {
  max-width: 100%;
  display: block;
  height: 100%;
}
@media screen and (max-width: 479px) {
  /* line 343, ../sass/main.scss */
  .ceremony .ceremony-content .ceremony-map .map {
    display: none;
    padding-left: 40px;
  }
}
/* line 354, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-map .map-button {
  display: none;
  width: 15%;
  margin: auto;
}
@media screen and (max-width: 479px) {
  /* line 354, ../sass/main.scss */
  .ceremony .ceremony-content .ceremony-map .map-button {
    display: block;
  }
}
/* line 363, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-map .map-button img {
  margin-top: 1em;
  width: 100%;
}

/* line 372, ../sass/main.scss */
.line {
  background: #40826D no-repeat scroll center;
  width: 100%;
  height: 2px;
  position: relative;
  bottom: 0.2em;
}

/* line 380, ../sass/main.scss */
.gift {
  height: 350px;
  position: relative;
  width: 100%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/Regalo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 769px) {
  /* line 380, ../sass/main.scss */
  .gift {
    height: 650px;
  }
}
/* line 393, ../sass/main.scss */
.gift .green-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10503B;
  opacity: 0.6;
}
/* line 403, ../sass/main.scss */
.gift .gift-content {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 403, ../sass/main.scss */
  .gift .gift-content {
    padding: 20px;
  }
}
@media screen and (min-width: 769px) {
  /* line 403, ../sass/main.scss */
  .gift .gift-content {
    padding: 30px;
  }
}
/* line 420, ../sass/main.scss */
.gift .gift-content .gift-title {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 10px;
}
/* line 428, ../sass/main.scss */
.gift .gift-content .gift-text {
  margin: auto;
  vertical-align: middle;
  line-height: 1.2em;
  color: white;
  text-align: center;
  font-size: 1.2em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 428, ../sass/main.scss */
  .gift .gift-content .gift-text {
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 20px;
  }
}
@media screen and (min-width: 769px) {
  /* line 428, ../sass/main.scss */
  .gift .gift-content .gift-text {
    max-width: 70%;
    line-height: 1.8em;
    font-size: 1.5em;
    padding: 30px;
  }
}
/* line 450, ../sass/main.scss */
.gift .gift-content .gift-button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #fff;
  font-size: 1.8em;
  background: #e43454;
  padding: 12px 15px 6px 15px;
  text-decoration: none;
  width: 150px;
  margin: auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 450, ../sass/main.scss */
  .gift .gift-content .gift-button {
    padding: 16px 20px 8px 20px;
  }
}
@media screen and (min-width: 769px) {
  /* line 450, ../sass/main.scss */
  .gift .gift-content .gift-button {
    padding: 20px 25px 10px 25px;
  }
}
/* line 471, ../sass/main.scss */
.gift .gift-content .gift-button:hover {
  cursor: pointer;
  background: #a82840;
  text-decoration: none;
}

/* Animations */
@keyframes fly-in {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}
