/* line 5, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: savoye;
  src: url("../fonts/SavoyeLetPlain.ttf");
}
@font-face {
  font-family: herculanum;
  src: url("../fonts/Herculanum.ttf");
}
@font-face {
  font-family: timesn;
  src: url("../fonts/Times.ttf");
}
@font-face {
  font-family: american;
  src: url("../fonts/AmericanTypewriter.ttf");
}
/* line 31, ../sass/main.scss */
body {
  font-family: savoye;
  font-size: 24px;
}

/* line 36, ../sass/main.scss */
.container {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/* line 45, ../sass/main.scss */
.section {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 45, ../sass/main.scss */
  .section {
    margin-bottom: 30px;
    max-width: 95%;
  }
}
@media screen and (min-width: 769px) {
  /* line 45, ../sass/main.scss */
  .section {
    margin-bottom: 80px;
    max-width: 80%;
  }
}

/* line 61, ../sass/main.scss */
.section.section-full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* line 67, ../sass/main.scss */
.section-divided {
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 67, ../sass/main.scss */
  .section-divided {
    padding: 10px;
    display: table;
  }
}
@media screen and (min-width: 769px) {
  /* line 67, ../sass/main.scss */
  .section-divided {
    padding: 10px;
    display: table;
  }
}
/* line 85, ../sass/main.scss */
.section-divided > div {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  vertical-align: middle;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 85, ../sass/main.scss */
  .section-divided > div {
    display: table-cell;
    padding: 10px;
    width: 50%;
  }
}
@media screen and (min-width: 769px) {
  /* line 85, ../sass/main.scss */
  .section-divided > div {
    display: table-cell;
    padding: 10px;
    width: 50%;
  }
}

/* line 106, ../sass/main.scss */
.green-text {
  color: #40826D;
}

/* line 110, ../sass/main.scss */
.title {
  margin-top: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 110, ../sass/main.scss */
  .title {
    margin-top: 5px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 769px) {
  /* line 110, ../sass/main.scss */
  .title {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
/* line 123, ../sass/main.scss */
.title .name {
  display: inline-block;
  height: 52px;
  font-size: 46px;
  border-bottom: solid #40826D;
  border-width: 1px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 123, ../sass/main.scss */
  .title .name {
    font-size: 63px;
    height: 63px;
  }
}
@media screen and (min-width: 769px) {
  /* line 123, ../sass/main.scss */
  .title .name {
    font-size: 74px;
    height: 80px;
  }
}
/* line 140, ../sass/main.scss */
.title .name img {
  width: 18px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 140, ../sass/main.scss */
  .title .name img {
    width: 25px;
  }
}
@media screen and (min-width: 769px) {
  /* line 140, ../sass/main.scss */
  .title .name img {
    width: 32px;
  }
}
/* line 153, ../sass/main.scss */
.title .name.left {
  text-align: right;
  padding: 0;
}
/* line 157, ../sass/main.scss */
.title .name.left img {
  margin-right: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 157, ../sass/main.scss */
  .title .name.left img {
    margin-right: 15px;
  }
}
@media screen and (min-width: 769px) {
  /* line 157, ../sass/main.scss */
  .title .name.left img {
    margin-right: 20px;
  }
}
/* line 170, ../sass/main.scss */
.title .and {
  display: inline-block;
  position: relative;
  top: 22px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: timesn;
  font-size: 42px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 170, ../sass/main.scss */
  .title .and {
    top: 36px;
    font-size: 66px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 769px) {
  /* line 170, ../sass/main.scss */
  .title .and {
    top: 50px;
    font-size: 90px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* line 195, ../sass/main.scss */
.title .name.right {
  text-align: left;
  padding: 0;
}
/* line 199, ../sass/main.scss */
.title .name.right img {
  margin-left: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 199, ../sass/main.scss */
  .title .name.right img {
    margin-left: 15px;
  }
}
@media screen and (min-width: 769px) {
  /* line 199, ../sass/main.scss */
  .title .name.right img {
    margin-left: 20px;
  }
}
/* line 212, ../sass/main.scss */
.title .date {
  position: relative;
  top: 22px;
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.2em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 212, ../sass/main.scss */
  .title .date {
    top: 36px;
    font-size: 1.4em;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 769px) {
  /* line 212, ../sass/main.scss */
  .title .date {
    top: 50px;
    font-size: 1.6em;
    margin-bottom: 70px;
  }
}

/* line 234, ../sass/main.scss */
.photo-cover {
  height: 350px;
  width: 100%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/gm.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 769px) {
  /* line 234, ../sass/main.scss */
  .photo-cover {
    height: 650px;
  }
}

/* line 247, ../sass/main.scss */
.phrase {
  font-family: herculanum;
  padding: 0;
}
@media screen and (max-width: 479px) {
  /* line 247, ../sass/main.scss */
  .phrase {
    max-width: 90%;
  }
}
/* line 255, ../sass/main.scss */
.phrase .phrase-text {
  margin-bottom: 30px;
  line-height: 1.2em;
  font-size: 0.9em;
  text-align: center;
  text-indent: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 255, ../sass/main.scss */
  .phrase .phrase-text {
    margin-bottom: 30px;
    line-height: 1.7em;
    font-size: 1em;
  }
}
@media screen and (min-width: 769px) {
  /* line 255, ../sass/main.scss */
  .phrase .phrase-text {
    margin-bottom: 0;
    line-height: 2em;
    font-size: 1.1em;
  }
}
/* line 274, ../sass/main.scss */
.phrase .phrase-text p#phrase {
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/open_quote.png");
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 30px;
  margin-bottom: 0;
  text-align: center;
}
/* line 283, ../sass/main.scss */
.phrase .phrase-text p#cite {
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/close_quote.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  width: 100%;
  font-size: 0.65em;
  text-align: right;
}
/* line 294, ../sass/main.scss */
.phrase .phrase-image {
  vertical-align: middle;
  width: 95%;
  margin: 0 auto;
  display: block;
  height: auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 294, ../sass/main.scss */
  .phrase .phrase-image {
    padding-left: 40px;
  }
}
@media screen and (min-width: 769px) {
  /* line 294, ../sass/main.scss */
  .phrase .phrase-image {
    padding-left: 40px;
  }
}
/* line 309, ../sass/main.scss */
.phrase .phrase-image img {
  width: 100%;
}

/* line 315, ../sass/main.scss */
.section-title {
  font-size: 1.8em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 315, ../sass/main.scss */
  .section-title {
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media screen and (min-width: 769px) {
  /* line 315, ../sass/main.scss */
  .section-title {
    font-size: 2.5em;
  }
}
/* line 331, ../sass/main.scss */
.section-title h2 {
  text-align: center;
}
/* line 335, ../sass/main.scss */
.section-title h2.lines {
  position: relative;
  z-index: 1;
}
/* line 339, ../sass/main.scss */
.section-title h2.lines:before {
  border-top: 2px solid #40826D;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
/* line 354, ../sass/main.scss */
.section-title h2.lines span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #fff;
  padding: 0 20px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 354, ../sass/main.scss */
  .section-title h2.lines span {
    padding: 0 30px;
  }
}
@media screen and (min-width: 769px) {
  /* line 354, ../sass/main.scss */
  .section-title h2.lines span {
    padding: 0 40px;
  }
}
/* line 369, ../sass/main.scss */
.section-title h2.double:before {
  /* this is just to undo the :before styling from above */
  border-top: none;
}
/* line 374, ../sass/main.scss */
.section-title h2.double:after {
  border-bottom: 2px solid #40826D;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  width: 95%;
  z-index: -1;
}

/* line 390, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-text {
  text-align: center;
  font-size: 1.2em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 390, ../sass/main.scss */
  .ceremony .ceremony-content .ceremony-text {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 769px) {
  /* line 390, ../sass/main.scss */
  .ceremony .ceremony-content .ceremony-text {
    font-size: 1.6em;
  }
}
/* line 402, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-text img {
  width: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 408, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-text #ceremony-date {
  margin-bottom: 30px;
}
/* line 413, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-map {
  height: auto;
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 479px) {
  /* line 413, ../sass/main.scss */
  .ceremony .ceremony-content .ceremony-map {
    height: auto;
  }
}
/* line 422, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-map .map {
  max-width: 100%;
  display: block;
  height: 100%;
}
@media screen and (max-width: 479px) {
  /* line 422, ../sass/main.scss */
  .ceremony .ceremony-content .ceremony-map .map {
    display: none;
    padding-left: 40px;
  }
}
/* line 433, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-map .map-button {
  display: none;
  width: 15%;
  margin: auto;
}
@media screen and (max-width: 479px) {
  /* line 433, ../sass/main.scss */
  .ceremony .ceremony-content .ceremony-map .map-button {
    display: block;
  }
}
/* line 442, ../sass/main.scss */
.ceremony .ceremony-content .ceremony-map .map-button img {
  margin-top: 1em;
  width: 100%;
}

/* line 451, ../sass/main.scss */
.gift {
  height: 500px;
  position: relative;
  width: 100%;
  background-image: url("https://s3.eu-central-1.amazonaws.com/j-wedding-site/Regalo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 451, ../sass/main.scss */
  .gift {
    height: 550px;
  }
}
@media screen and (min-width: 769px) {
  /* line 451, ../sass/main.scss */
  .gift {
    height: 650px;
  }
}
/* line 468, ../sass/main.scss */
.gift .green-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10503B;
  opacity: 0.6;
}
/* line 478, ../sass/main.scss */
.gift .gift-content {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 478, ../sass/main.scss */
  .gift .gift-content {
    padding: 20px;
  }
}
@media screen and (min-width: 769px) {
  /* line 478, ../sass/main.scss */
  .gift .gift-content {
    padding: 30px;
  }
}
/* line 495, ../sass/main.scss */
.gift .gift-content .gift-title {
  color: white;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 10px;
}
/* line 503, ../sass/main.scss */
.gift .gift-content .gift-text {
  overflow: hidden;
  margin: auto;
  vertical-align: middle;
  line-height: 1.2em;
  color: white;
  text-align: center;
  font-size: 1.2em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 503, ../sass/main.scss */
  .gift .gift-content .gift-text {
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 20px;
  }
}
@media screen and (min-width: 769px) {
  /* line 503, ../sass/main.scss */
  .gift .gift-content .gift-text {
    max-width: 70%;
    line-height: 1.5em;
    font-size: 1.5em;
    padding: 30px;
  }
}
/* line 526, ../sass/main.scss */
.gift .gift-content #gift-button {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #fff;
  font-size: 1.8em;
  background: #e43454;
  padding: 20px 15px 6px;
  text-decoration: none;
  width: 150px;
  margin: auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 526, ../sass/main.scss */
  .gift .gift-content #gift-button {
    padding: 16px 20px 8px;
  }
}
@media screen and (min-width: 769px) {
  /* line 526, ../sass/main.scss */
  .gift .gift-content #gift-button {
    padding: 20px 25px 10px;
  }
}
/* line 547, ../sass/main.scss */
.gift .gift-content #gift-button:hover {
  cursor: pointer;
  background: #a82840;
  text-decoration: none;
}
/* line 553, ../sass/main.scss */
.gift .gift-content #gift-modal {
  color: black;
  font-family: savoye;
}
/* line 557, ../sass/main.scss */
.gift .gift-content #gift-modal .modal-text {
  font-size: 1.2em;
}
@media screen and (min-width: 769px) {
  /* line 557, ../sass/main.scss */
  .gift .gift-content #gift-modal .modal-text {
    font-size: 1.6em;
    padding: 40px;
  }
}
/* line 565, ../sass/main.scss */
.gift .gift-content #gift-modal .modal-text p {
  margin: 10px;
}
@media screen and (min-width: 769px) {
  /* line 565, ../sass/main.scss */
  .gift .gift-content #gift-modal .modal-text p {
    margin: 30px;
  }
}
/* line 572, ../sass/main.scss */
.gift .gift-content #gift-modal .modal-text p span {
  margin-left: 10px;
}
/* line 577, ../sass/main.scss */
.gift .gift-content #gift-modal .modal-text #iban {
  font-size: 1rem;
  font-family: american;
  margin: 10px;
}
@media screen and (min-width: 769px) {
  /* line 577, ../sass/main.scss */
  .gift .gift-content #gift-modal .modal-text #iban {
    font-size: 1.4rem;
  }
}
/* line 588, ../sass/main.scss */
.gift .gift-content #gift-modal .close {
  font-size: 50px;
}

/* line 597, ../sass/main.scss */
.mail .mail-text {
  font-size: 1.2em;
  line-height: 1.5em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 597, ../sass/main.scss */
  .mail .mail-text {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 769px) {
  /* line 597, ../sass/main.scss */
  .mail .mail-text {
    font-size: 1.6em;
  }
}
/* line 609, ../sass/main.scss */
.mail .mail-text .address {
  font-family: american;
  color: #659D8B;
  font-size: 0.7em;
  margin-bottom: 50px;
  text-decoration: underline;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 609, ../sass/main.scss */
  .mail .mail-text .address {
    font-size: 0.8em;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 769px) {
  /* line 609, ../sass/main.scss */
  .mail .mail-text .address {
    font-size: 0.9em;
    margin-bottom: 150px;
  }
}
/* line 626, ../sass/main.scss */
.mail .mail-text a:link {
  color: inherit;
}

/* line 632, ../sass/main.scss */
footer {
  background-color: #ebebeb;
  height: 60%;
  padding: 1.4em;
  font-size: 0.5em;
  font-weight: bold;
  color: #797979;
  font-family: "Courier New", Courier, monospace;
}
/* line 641, ../sass/main.scss */
footer .footer-text {
  text-align: left;
}

/* Animations */
@keyframes fly-in {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}
